.cardProyect {
    /* background:var(--hc);
    color: var(--bodyBG); */
    background: var(--bodyBG);
    /* background:#3f484b; */
    color: #fff;
    height: 500px;
    width: 450px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.7s ease-out;
}

.cardProyect__detalle {
    position: relative;
    top: 310px;
    padding: 10px 20px;
    height: 200px;
}

.cardProyect__detalle__titulo {
    font-size: 26px;
    margin: 10px 0
}

.cardProyect__detalle__description {
    margin: 0 0 25px 0;
}

.cardProyect__a {
    background: var(--dgbg);
    font-weight: 600;
    padding: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.cardProyect__a:hover {
    background: #fff;
    color: var(--bodyBG);
}

.cardProyect:hover {
    /* background:var(--bgHover);
    color: #fff;  */
    /*   color: var(--bodyBG); */
    background: var(--bgHover);
    background-repeat: no-repeat;
    background-size: 100%;
    /* transition: all 0.7s ease-out; */
    transition: 0.5s;
    transform: scale(1.03);
}

.proyect1 {
    background-image: url(../../asset/img/proyecto1.png);
}

.proyect1:hover {
    background-image: url(../../asset/img/proyecto1hover.PNG);
}

.proyect2 {
    background-image: url(../../asset/img/proyecto2.PNG);
}

.proyect2:hover {
    background-image: url(../../asset/img/proyecto2hover.PNG);
}

.proyect3 {
    background-image: url(../../asset/img/proyecto3.PNG);
}

.proyect3:hover {
    background-image: url(../../asset/img/proyecto3hover.PNG);
}

.proyect4 {
    background-image: url(../../asset/img/proyecto4.PNG);
}

.proyect4:hover {
    background-image: url(../../asset/img/proyecto4hover.PNG);
}

.proyect5 {
    background-image: url(../../asset/img/proyecto5.PNG);
}

.proyect5:hover {
    background-image: url(../../asset/img/proyecto5hover.PNG);
}

.proyect6 {
    background-image: url(../../asset/img/proyecto6.PNG);
}

.proyect6:hover {
    background-image: url(../../asset/img/proyecto6hover.PNG);
}

.proyect7 {
    background-image: url(../../asset/img/proyecto7.PNG);
}

.proyect7:hover {
    background-image: url(../../asset/img/proyecto7hover.PNG);
}

.proyect8 {
    background-image: url(../../asset/img/proyecto8.PNG);
}

.proyect8:hover {
    background-image: url(../../asset/img/proyecto8hover.PNG);
}

.proyect9 {
    background-image: url(../../asset/img/proyecto9.PNG);
}

.proyect9:hover {
    background-image: url(../../asset/img/proyecto9hover.PNG);
}

.proyect10 {
    background-image: url(../../asset/img/proyecto10.PNG);
}

.proyect10:hover {
    background-image: url(../../asset/img/proyecto10hover.PNG);
}

.proyect11 {
    background-image: url(../../asset/img/proyecto11.PNG);
}

.proyect11:hover {
    background-image: url(../../asset/img/proyecto11hover.PNG);
}

.cardProyect__grupo {
    background: var(--dgbg);
    padding: 5px;
    border-radius: 4px;
}

.cardProyect__detalle__cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 0;
}


@media screen and (max-width:390px) {
    .cardProyect {
        height: 410px;
    }

    .cardProyect__detalle {
        top: 227px;
        padding: 10px 20px;
        height: 200px;
    }
   /*  .cardProyect__grupo {
        top: 25px;
        left: 254px;
    } */
}