.contact i{
    font-size:65px;
    color: var(--bodyBG);
}

.contact i:hover{
    color: var( --bspinner);
    transition: 0.2s;
    transform: scale(1.06);
}
.contact{
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:40px;
}
.contact  .whatsapp{
    color:green;
}