

.proyect h1 {
    padding: 15px 0 0 0;
}

.proyect__container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 40px;
}

@media screen and (max-width:800px) {
    .proyect {
        padding: 70px 0;
    }
    .proyect__container {
        margin: 10px;
    }
}

